.main-p {
    background-color: #727f92;
    font-family: 'Source Sans 3';
    color: #e6edf3;
    min-height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 800;
}

.heading {
    font-weight: 600;
    font-size: large;
    margin-top: 4vh;
    margin-bottom: 55px;
    text-align: center;
}

.projects {
    background-color: #727f92;
    color: #e6edf3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}